﻿body {
    background: #CCCCCC;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#outer {
    width: 100%;
}

#inner {
    width: 1440px;
    background: #F2F2F2;
    margin: auto;
}

    #inner img {
        width: 100%;
        display: block;
    }



@media screen and (max-width: 1440px) {
    #inner {
        width: 100%;
        min-width: 0;
    }
}

/* Frontpage - Start */

.frontpage {
    width: 65%;
    margin: auto;
    -webkit-box-shadow: 0px 5px 18px -1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 5px 18px -1px rgba(0,0,0,0.12);
    box-shadow: 0px 5px 18px -1px rgba(0,0,0,0.12);
    background-color: white;
    margin-bottom: 30px;
}

    .frontpage .content {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }

        .frontpage .content .innercontent {
            display: inline-table;
            padding-left: 50px;
            padding-right: 50px;
            line-height: 24px;
            font-weight: 100;
            font-size: 16px;
        }

            .frontpage .content .innercontent h3 {
                font-size: 30px;
                font-weight: 100;
                margin: 0;
                padding: 0;
                padding-bottom: 5px;
                line-height: 30px;
            }

            .frontpage .content .innercontent .link {
                padding-top: 10px;
            }

                .frontpage .content .innercontent .link a {
                    color: #00A88F;
                    text-decoration: none;
                    font-weight: 600;
                }

                    .frontpage .content .innercontent .link a:hover {
                        color: black;
                    }

                    .frontpage .content .innercontent .link a:visited {
                        color: #00A88F;
                    }

    .frontpage .image {
        display: table-cell;
        width: 50%;
        vertical-align: top;
    }

/* Frontpage - End */

/* Notifications - Start */

.notifications {
    background-color: #E1E6E5;
    padding-top: 65px;
    padding-bottom: 65px;
}

    .notifications .content {
        width: 65%;
        margin: auto;
    }

    .notifications .image {
        display: table-cell;
        padding-right: 30px;
    }

    .notifications .text {
        display: table-cell;
        font-size: 14px;
        vertical-align: middle;
        line-height: 22px;
    }

        .notifications .text p {
            margin: 0;
        }

        .notifications .text h3 {
            font-weight: 600;
            font-size: 16px;
            margin: 0;
            padding: 0;
            padding-bottom: 10px;
        }

    .notifications .buttoncontainer {
        display: table-cell;
        vertical-align: middle;
        padding-left: 40px;
    }

        .notifications .buttoncontainer a.button {
            color: #333333;
            border: 2px solid #333333;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none;
            display: inline-block;
            width: 134px;
            text-align: center;
            font-weight: 400;
        }

            .notifications .buttoncontainer a.button:hover {
                color: #00A88F;
                border: 2px solid #00A88F;
            }

            .notifications .buttoncontainer a.button:visited {
                color: #333333;
            }

/* Notifications - End */


/* Content Area - Start */

.myloanscontentarea {
    padding-top: 50px;
    padding-bottom: 150px;
    width: 65%;
    margin: auto;
}

    .myloanscontentarea h3 {
        font-weight: 300;
        font-size: 24px;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }

    .myloanscontentarea div.content {
        background-color: white;
        padding: 30px;
        box-sizing: border-box;
        display: block;
        width: 100%;
        -webkit-box-shadow: 0px 5px 18px -1px rgba(0,0,0,0.12);
        -moz-box-shadow: 0px 5px 18px -1px rgba(0,0,0,0.12);
        box-shadow: 0px 5px 18px -1px rgba(0,0,0,0.12);
    }

    .myloanscontentarea .content .text {
        display: table-cell;
        line-height: 22px;
    }

        .myloanscontentarea .content .text p {
            margin: 0;
        }

.myloans-contentarea span.text {
    font-size: 14px;
    font-weight: 200;
}

.myloanscontentarea div.buttoncontainer {
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;
    padding-right: 20px;
}

.myloanscontentarea .buttoncontainer a.button {
    color: #00A88F;
    border: 2px solid #00A88F;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    width: 134px;
    text-align: center;
}

    .myloanscontentarea .buttoncontainer a.button:hover {
        color: #333333;
        border: 2px solid #333333;
    }

    .myloanscontentarea .buttoncontainer a.button:visited {
        color: #00A88F;
    }

.container {
    display: flex;
}

    .container > div {
        flex: 1; /*grow*/
    }


.IconBox {
    width: 200px;
    height: 300px;
    padding-left: 150px;
    float: left;
}

.Icon {
    padding-left: 25%;
    width: 100px;
}

.iconText {
    text-align: center;
}

.IconSubText {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.HeroTitle {
    position: relative;
    left: 40%;
    text-align: center;
}

.HeroDescription {
    text-align: center;
    position: relative;
    left: 40%;
}

/* Content Area - End */

@media screen and (max-width: 768px) {
    .myloanscontentarea div.buttoncontainer {
        padding-top: 20px;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .notifications .buttoncontainer {
        display: block;
        padding-top: 20px;
        padding-left: 40px;
    }

    .notifications .image {
        width: 40px;
        padding-right: 0;
    }
}

@media screen and (max-width: 1040px) {

    .frontpage .content {
        display: block;
        width: 100%;
        padding-top: 40px;
    }

    .frontpage .image {
        display: block;
        padding-top: 40px;
        width: 100%;
    }
}
