﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}


@RenderImages(Model.Content.HeaderImage)

<div style="background-color: #@Model.Content.HeroBackgroundColor" class="container">
    <div style="width: 600px; padding-left: 170px;padding-top: 50px">
        @{

            foreach (var child in Model.Content.Children.OfType<ContentModels.NormalPage>())
            {
                @RenderIcon(child)
            }


        }
        <div style="clear:both"></div>
    </div>
</div>

@RenderImages(Model.Content.MainContentPicture)

@RenderImages(Model.Content.FooterImage)


@helper RenderIcon(NormalPage page)
{
var img = Umbraco.Media(page.Icon);
    <a href="@page.Url">
        <div class="IconBox">
            <div class="Icon">
                <img src='@img.UmbracoFile' alt='@img.Name' />
            </div>

            <p class="iconText" style="Color: #@Model.Content.TextColor;">@page.Title</p>
            <p class="IconSubText" style="Color: #@Model.Content.TextColor;">@page.Description</p>
        </div>
    </a>
}

@helper RenderImages(string imageIds)
{
if (imageIds == null)
{
    return;
}

string[] ids = imageIds.Split(',');
foreach (string id in ids)
{
    var img = Umbraco.Media(id);
        <img src='@img.UmbracoFile' alt='@img.Name' />
}

}

