﻿@using Umbraco.Web.PublishedContentModels
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div id="outer">
        <div id="inner">
            
            @RenderBody()

        </div>
    </div>
</body>
</html>


@helper RenderImage(object imageId)
{
if (imageId == null)
{
    return;
}
var img = Umbraco.Media(imageId);
if (img != null)
{
        <img src='@img.UmbracoFile' alt='@img.Name' />
}

}