﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NormalPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@{
    var home = Model.Content.AncestorOrSelf<HomePage>();

}
@RenderImages(home.HeaderImage)

<div style="background-color: #@home.HeroBackgroundColor">
    <div style="width: 600px; height: 300px; padding-left: 170px;padding-top: 50px">
        <h1 class="HeroTitle" style="Color: #@home.TextColor;">@Model.Content.HeroTitle</h1>
        <span class="HeroDescription" style="Color: #@home.TextColor;">@Model.Content.HeroDescription</span>

    </div>
</div>
<div>
    @RenderImages(Model.Content.MainContentPicture)
</div>
@RenderImages(home.FooterImage)

@helper RenderImages(string imageIds)
{
if (imageIds == null)
{
    return;
}

string[] ids = imageIds.Split(',');
foreach (string id in ids)
{
    var img = Umbraco.Media(id);
        <img src='@img.UmbracoFile' alt='@img.Name' />
}

}

